{% extends 'main.html' %}

{% block contain %}
    <div>
        <h1 class="text-center mb-4" style="color: #990000">Delete Student</h1>
        <div class="alert alert-danger" role="alert">
            {% if user.username != None %}
            Are you sure you want to delete {{ user.username }}?
            {% else %}
            Are you sure you want to delete {{ user.Student_ID }}?
            {% endif %}
        </div>
        <form method="POST" action =''>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="background-color: #990000">Confirm Delete</button>
            <a href="{% url 'home' %}" class="btn btn-secondary" style="background-color:#009926">Cancel</a>
            
        </form>
    

    </div>
{% endblock contain %}