{% extends 'main.html' %}

{% block contain %}
    <style>
        th, td {
            padding: 8px; /* Adjust the value as needed */
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
               <td ><a href="{% url 'profile' student.Student_ID%}">{{ student.Student_ID}}</a></td>
                <td>{{ student.First_Name }}</td>
                <td>{{ student.Middle_Name}}</td>
                <td>{{ student.Last_Name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contain %}
