{% extends 'main.html' %}


{% block contain %}

    <style>
        .login-field-flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
        }

        .login-box {
            background-color: white;
            height: 300px;
            width: 300px;
            border-radius: 20px;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

        }

        .username-container {
            border-radius: 10px;
            font-family: Arial, serif;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            padding-left: 8px;
            padding-bottom: 10px;
            padding-right: 5px;
            margin-bottom: 10px;

        }

        .username {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .username-input {
            padding: 5px 10px;
            border: none;

        }


        .password {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .login-button {
            font-family: Arial, serif;
            background-color: #07e1ff;
            border: none;
            border-radius: 7px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .errors {
            font-family: Arial, serif;
        }

        .sign-up-field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .signup-button {
            background-color: #3cf53c;
        }

        .login-text {
            font-family: Arial, serif;
            font-weight: bold;
        }

        .errors {
            margin: 5px;

        }
        .demo-button {
            background-color: #ffcd00;
        }



    </style>

    <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="login-field-flex">
            <div class="login-box">
                <p class="login-text">Login</p>
                <div class="username-container">
                    <p class="username">Username</p>
                    <input class="username-input" id="username" name="username" type="text"
                           placeholder="e.g. dennis_ivy"/>
                    <p class="password" for="password">Password</p>
                    <input class="username-input" id="password" name="password" type="password"
                           placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                    />
                </div>

                {% if messages %}
                    <ul class="errors">
                        <li>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </li>
                    </ul>
                {% endif %}

                <button class="login-button" type="submit">Login</button>

                <div class="sign-up-field">
                    <p>Doesn't have a account yet?</p>
                    <div>

                        <button class="login-button signup-button" onclick="location.href='{% url 'register' %}'"
                                type="button">
                            Sign up
                        </button>
                        <button class="login-button signup-button demo-button" onclick="demoLogin()">Demo as a Teacher</button>
                    </div>
                </div>

            </div>


        </div>
    </form>



<script>
    function demoLogin() {
        document.querySelector('.username-input').value = 'demo340'
        document.getElementById('password').value = 'password340'
        document.querySelector('.demo-button').click()


    }
</script>


{% endblock contain %}

