{% extends 'main.html' %}

{% block contain %}

    <style>
        .register-field-flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;

        }

        .register-box {
            background-color: white;
            height: 500px;
            width: 300px;
            border-radius: 20px;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
            padding-left: 20px;

        }

        .register-labels {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-family: Arial, serif;
            margin-bottom: 20px;
        }

        .register-text {
            font-family: Arial, serif;
            font-size: 20px;
            font-weight: bold;
        }

        .register-button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .register-button {
            background-color: #19e05f;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            padding: 4px 7px;
            cursor: pointer;
        }

        .login-button {
            background-color: #00d0ff;
        }

    </style>

    <div class="register-field-flex">
        <div class="register-box">
            <p class="register-text">Register</p>
            <form class="form" action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="register-labels">
                        <label for="room_name">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}

                {% if messages %}
                    <ul>
                        <li>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </li>
                    </ul>
                {% endif %}

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}

                <div id="studentIdField" class="register-labels">
                    <label for="id_student_id">Student ID:</label>
                    <input type="number" id="student_id" name="student_id">
                </div>

                <div class="register-button-container">

                    <button class="register-button" type="submit">
                        Register
                    </button>

                    <p>Already have an account?</p>
                    <button class="register-button login-button" onclick="location.href='{% url 'login' %}'">Login
                    </button>

                </div>


            </form>


        </div>

    </div>




    <script>
        const userRoleField = document.getElementById('id_User_role');
        const studentIdField = document.getElementById('studentIdField');
        studentIdField.style.display = 'none'
        const studentIdInput = document.getElementById('student_id');
        const showHideID = () => {
            const userRoleField = document.getElementById('id_User_role');
            console.log(userRoleField.value)
            if (userRoleField.value === 'Teacher') {
                studentIdField.style.display = 'none'
            } else {
                studentIdField.style.display = ''
            }

        }
        userRoleField.addEventListener('change', () => {
            showHideID()
        })

    </script>
{% endblock contain %}

