{% extends 'main.html' %}
{% load static %}

{% block contain %}
<link href="https://login.jupitered.com/css/1.css?1697820731" rel="stylesheet"></link>    

<style>
.block {
    display:block; 
    padding:5px 0px; 
    margin-top:8px; 
    max-width:728px;
}
.post  {
    position:relative
}
.photo {
    position:absolute; 
    box-sizing:content-box; 
    transition: width 0.2s ease, height 0.2s ease;
}
.clickspace {
    margin:0px 32px 0px 66px; 
    padding:3px 0px; 
    line-height:15px; 
    white-space:normal;}
.photoclosed {
    width:45px; 
    height:45px; 
    left:12px; 
    top:3px; 
    border-radius:5px;}

.date {
    float:right; 
    padding:0px 8px 0px 10px; 
    opacity:0.25; color: #0f0f0f}
.textboxp2 {
    height: 50px;
    margin-left: 2px;
}

</style>  
<div class="block whitebox">
   <div class="wrap" style="margin:0px 27px 5px 12px">
      <b>{{ message.subject }}</b><br>
   </div>
   <div id="insert0">
      <!-- POST 100401611 -->
      <div class="post">
         <img border="0" src="{{ message.user.profile_pic.url }}" class="photo photoclosed" click="blinkphoto()">
         <div class="clickspace" >
					<div class="date medium" >{{ message.create_on | timesince}}
                    </div>
					<b>{{ message.user }}</b><br>
					Subject: {{ message.subject }}<br>{{ message.body }}
			</div>

          {% for reply in replies %}
         <div class="clickspace" >
					<div class="date medium" style="color: darkblue">{{ reply.create_on | timesince}}
                    </div>
					<b>{{ reply.user }}: </b>{{ reply.body }}<br>

			</div>
          {% endfor %}

      </div>
      <div id="insert1"></div>
   </div>
    <br>
    <br>

    <form method="POST">
        {% csrf_token %}
   <div class="post">
      <table width="100%">
         <tbody>
            <tr>
               <td width="100%" class="replycell">
                   <label>
                       <input name="body" id="body" class="textboxp2" placeholder="Type here" style="width:100%;" >
                   </label>
               </td>
               <td class="nowrap bottom" style="padding-bottom:14px">
               </td>
               <td class="nowrap bottom" style="padding:0px 12px 13px 0px">
                  <div style="position:relative">
                     <button id="postbtn" class="btn" type="submit">Reply</button>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <div id="mediaspace" class="hide mediaspace"></div>
   </div>
    </form>
</div>
{% endblock contain %}