{% load static %}



<div class="header">
    <div class="left-section">
       <a class="logo" href="{% url 'home' %}"><img class="logo" src="/media/logo.png" ></a>
        <a href="{% url 'home' %}" class="website-name">EduView</a>
    </div>

    <div class="middle-section">

        {% if user.is_authenticated and not user.is_student%}
         <form class="search-form" method="GET">
             <svg version="1.1" class="search-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>search</title>
                <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
            </svg>
             <input class="search-field" name="Student_ID" placeholder="Search for students..." />
         </form>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div class="right-section">
            {% if user.is_student != True %}
                <img class="profile-image" src="{{ user.profile_pic.url }}" />
                <div>
                    <p class="hello-text">Hello</p>
                    <p class="first-name">@{{user.first_name}}</p>
                </div>
            {% endif %}

            {% if user.is_student %}
                <div>
                    <p class="hello-text">Hello</p>
                    <a class="first-name" href="{% url 'profile' user.student_id %}">@{{user.first_name}}</a>
                </div>
            {% endif %}


            <div class="dropdown" style="cursor: pointer">
              <img class="dropdown-icon" onclick="myFunction()"  src="/media/drop-down-icon.png"  alt="">
              <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
              </div>
            </div>
        </div>
    {% else %}
        <div class="right-section">
            <div class="login/signup">
                <a href="{% url 'login' %}"><button class="login">Login</button></a>
                <a href="{% url 'register' %}"><button class="sign-up">Sign Up</button></a>
            </div>
        </div>
    {% endif %}
</div>



<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdown-icon')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>












